src/encodings/*
videos/*
images/*
images_backup/*
objects/*
src/models/*
src/databases/*
.vscode/*
Other/*
*/__pycache__/*
*.pyc
debug.log

Pipfile.lock
*.egg-info

src/configurations/*
!/configurations/sample

src/models/*
!/models/sample