src/vidsortml/encodings/*
videos/*
src/vidsortml/images/*
images_backup/*
objects/*
src/vidsortml/models/*
src/vidsortml/databases/*
.vscode/*
Other/*
*/__pycache__/*
*.pyc
debug.log

Pipfile.lock
*.egg-info

src/vidsortml/configurations/*
!/configurations/sample

src/vidsortml/models/*
!/models/sample