[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
cmake = "*"
dlib = "*"
face-recognition = "*"
opencv-python = "*"
sklearn = "*"
scikit-image = "*"
pprint = "*"
pyqt5 = "*"
selenium = "*"
webdriver-manager = "*"

[requires]
python_version = "3.7"
